{% extends 'base.html' %}

{% block content %}
<div>
    <a href ='/ask/'>Add Question</a>
<div>

    {% for question in question_list %}
        <h2>{{question.title}}</h2>
        <small>{{question.user}} &mdash; {{question.create_time}}</small
            <p>
         {{question.text |slice:100}} ...</p>
         <a href ='/question/{{ question.pk }}'>Read More</a>
         <div>
            {% for tag in question.tag_set.all %}
                <span class="badge bg-primary">{{ tag.name }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    
</div>

{% endblock content %}

